*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
	/* background-color: rgb(224, 224, 224); */
	position: relative;
}

.bg-clip {
	background-color: #e8efff;
	position: absolute;
	top: 0;
	left: 0;
	height: 650px !important;
	width: 100%;
	z-index: -1;
	height: 100%;
	clip-path: polygon(0 0, 100% 0, 100% 300px, 0 400px);
}
